body{
    text-align: center;
    
}
#apps{
    width: 100%;
    height: 800px;
    background-color: chocolate;
}
#games{
    width: 100%;
    height: 800px;
    background-color: darkorange;
}
#art{
    width: 100%;
    height: 800px;
    background-color: springgreen;
}
#chatbot{
    width: 100%;
    height: 800px;
    background-color:cyan;
}
img{
    transition: transform .2s;
}
img:hover{
    transform: scale(0.9);
    
}